*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors*/
  --color-very-dark-saturated-blue: rgb(29, 30, 53);
  --color-soft-red: rgb(244, 124, 87);

  --color-soft-violet: rgb(175, 103, 233);
  --color-soft-blue: rgb(101, 101, 231);

  --color-very-dark-grayish-blue: rgb(74, 75, 94);

  --color-dark-grayish-blue: rgb(120, 120, 135);

  --color-light-grayish-blue: rgb(231, 231, 233);
}

body {
  font-size: 12px;
  font-family: "Kumbh Sans", sans-serif;
  min-height: 100vh;

  background-image: linear-gradient(
    var(--color-soft-violet),
    var(--color-soft-blue)
  );

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: var(--color-light-grayish-blue);

  max-width: 60rem;
  min-height: 32rem;
  border-radius: 1.5rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

/****************Left Side***************/

.img-container {
  background-image: url("./images/bg-pattern-desktop.svg");
  background-repeat: no-repeat;
  background-position: 100% 68%;

  align-self: stretch;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.img-box {
  position: absolute;

  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}

.img-container-inner {
  overflow: hidden;
}
.img {
  margin-left: -4rem;
}

/****************Right Side***************/

.faq {
  padding-right: 6rem;

  display: flex;
  flex-direction: column;
}

.faq__heading {
  color: var(--color-very-dark-saturated-blue);
  font-size: 2rem;
  margin-bottom: 2rem;
}

.faq__accordion {
  overflow: hidden;
}

.faq__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.faq__accordion-heading {
  color: var(--color-very-dark-grayish-blue);
  padding: 0.5rem 0;
  font-size: 1rem;

  transition: all 0.2s;
}

.faq__accordion-heading:hover {
  color: var(--color-soft-red);
}

.faq__accordion-text {
  color: var(--color-dark-grayish-blue);
  line-height: 1.2rem;
  font-size: 0.77rem;
  padding-bottom: 0.3rem;

  height: 0;
  transition: all 0.5s;
  border-bottom: 1px solid var(--color-dark-grayish-blue);
}

.icon {
  color: var(--color-soft-red);
  font-size: 1rem;
}
